        *{
            padding: 0;
        }
        body{
            margin-top: 4;
            font-family: sans-serif;
            font-size: 100%;
            background: #c3bbbb;
            color: #932834;
        }
        #menumovil{
            display: none;
        }
        .contenedor{
            width: 80%;
            margin: auto;
            max-width: 75em;
            background: white;
            border-radius: 10px;
            box-shadow: -1px 3px 25px rgb(128, 109, 109);
        }
        .logo{
            display: block;
            float: left;
            width: 80px;
        }
        .logo img{
            max-width: 100%;
            padding: 0;
            margin: 0;
        }
        img{
            max-width: 100%;
            display: block;
            margin: auto;
        }
        header{
            background: url("../images/BACK-HEADER.png");
            overflow: hidden;
            padding: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        nav{
            float: right;
            margin-top: 18px;
        }
        nav ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
        nav ul li{
            float: left;
        }
        nav ul li a{
            display: block;
            text-align: center;
            color: aliceblue;
            text-decoration: none;
            padding: 14px 18px;
        }
        nav ul li a:hover{
            font-weight: bold;
            border-radius: 5px;
            background: #5d0f18;
        }
        main{
            width: 70%;
            border-radius: 5px;
            border: 2px solid brown;
            display: block;
            margin: auto;
        }
        .texto{
            padding: 5px;
        }
        footer{
            background: url("../images/BACK-HEADER.png");
            color: aliceblue;
            padding: 20px;
            vertical-align: bottom;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        @media screen and (max-width:760px){
            main{
            width: 95%;
            display: inline-block;
            vertical-align: top;
            margin-right: 0;
            border-radius: 5px;
            border: | solid brown;
            margin-top: 10px;
            }
            .logo{
                float: none;
                margin: auto;
            }
            nav{
                float:none;
                margin-top: 8px; 
            }
            nav li{
                width: 20%;
            }
        }
        @media screen and (max-width:605px){
            nav li{
                width: 50%;
            }
            nav li:last-child{
                width: 100%;
            }
            nav li a{
                border-radius: 5px/16px;
                background: #5d0f18;
                margin: 2px;
            }
            nav ul li a:hover{
                background: red;
            }
        }
        @media screen and (max-width:420px){
            .contenedor{
                width: 100%;
            }
            header{
            }
            nav ul{
                display: none;
            }
            nav li{
                width: 100%;
            }
            nav ul li a{
                margin: 1px;
            }
            nav ul li a:hover{
                background: white;
                color:#7c1723;
            }
            #menumovil{
                display: block;
                position: relative;
                text-align: center;
                color: aliceblue;
                text-decoration: none;
                height: 48px;
                line-height: 48px;
                background: #5d0f18;
                border-radius:5px;
                font-weight: bold;
            }
            #menumovil:hover{
                background: white;
                color: #7c1723;
            }
            #menumovil:before{
                content: "";
                position: absolute;
                color: aliceblue;
                width: 25px;
                height: 4px;
                top: 13px;
                right: 10px;
                border-top: 4px solid white;
                border-bottom: 12px double white;
            }
             #menumovil:hover:before{
                border-top: 4px solid #5d0f18;
                border-bottom: 12px double #5d0f18;
            }
        }